/native/index.node
/native/index.d.ts
/native/artifacts.json
**/*~

/node_modules/

# Compiler output
/build/
/target/
/examples/
/coverage/
/lib/
/index.d.ts
/index.d.ts.map
/index.js
/index.js.map

.DS_Store
logs
*.log
npm-debug.log*
